/* styles/modal.css */

.modal-content {
    max-width: 1000px;
    margin-top: 50px;
    display: block;
    margin: 0 auto;
}

img {
    width: 120px; /* Largeur souhaitée */
    height: auto; /* La hauteur s'ajustera automatiquement pour conserver les proportions */
    display: block; /* Pour rendre l'image un élément en bloc */
    margin: 0 auto;

}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 150px; /* Prend toute la largeur disponible */
    padding: 4px; /* Ajoutez un espace autour du texte dans les champs de saisie */
    margin-bottom: 12px; /* Ajoutez de l'espace en bas de chaque champ */
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px; /* Augmenter le padding pour agrandir le bouton */
    font-size: 14px; /* Augmenter la taille de la police pour agrandir le bouton */

     /* Pour centrer le bouton horizontalement */
     display: block;
     margin: 0 auto;
}
